@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

// @import "node_modules/primeng/resources/themes/nova-light/theme.scss";
// @import "node_modules/primeicons/primeicons.scss";
// @import "node_modules/primeng/resources/primeng.min.scss";

// @import "~bootstrap/scss/bootstrap";
// @import "~primeng/resources/themes/omega/theme.scss";
// @import "~primeng/resources/themes/_theme.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

body{
    margin: auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:10px;
    background: #EEEEEE;
}

h1,h2{
    line-height:1.2; 
    text-align: center;
}

h3{
    line-height: 1.2;
    margin: 15px;
}


.moderate-colors{
    color: #EEEE00; 
}

ag-grid-angular{
    width: 440px; height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

